<h2>(5) TOP 10 Page title and screen class</h2>
<br />
<figure id="views" style="background-color: aliceblue;"></figure>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Ref.</td>
            <td>Head</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Egy rossz vicc miatt lőtték agyon az olasz bajnok futballistát - Luciano Re Cecconi története</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>„Négy vagy öt gólt is lőhettünk volna” – olasz lapszemle az FTC elleni döntetlent követően</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>29 évesen egy villámcsapás miatt vesztette életét a mellőzött magyar labdarúgó</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Az argentin válogatott gyúrója benyugtatózta a brazilokat az 1990-es vb-n</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Mire számíthat az FTC Genkben?</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Az alkoholista futballzseni, akihez képest Vinnie Jones ministránsfiú</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Az észak-koreai tehetség, aki egyszerűen felszívódott</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Az egész világ csodájára jár a sziklába vájt futballpályának</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Az Eb-selejtezők nyitva maradt kérdései és a magyar kilátások</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Mitől vált azonnal a Liverpool egyik legfontosabb játékosává Szoboszlai?</td>
        </tr>
    </tbody>
</table>