<header>
  <h1>Angular + D3js</h1>
  <button class="btn btn-primary" (click)="letolt()">Önéletrajz letöltése</button>&nbsp;
  <button class="btn btn-success" style="background-color: #04AA6D;" (click)="letolt_excel()">Kimutatás letöltése</button>
</header>
<!--app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter-->
<!--app-bar2 chartName="barA" [data]="chartData_2D_1"></app-bar2-->
<!--app-pie-custom-data></app-pie-custom-data-->
<!--app-felhasznalok></app-felhasznalok-->
<app-users></app-users>
<app-engagement></app-engagement>
<!--app-szovegek></app-szovegek-->
<app-dcg></app-dcg>
<app-trend></app-trend>
<app-pie></app-pie>